<?xml version="1.0" encoding="UTF-8"?>
<settings version="2">
    <section id="general">
        <category id="charts" label="32001">
            <group id="1">
                <setting id="market"
                         type="string"
                         label="32010"
                         default=""
                         help="32012">
                    <control type="edit" />
                </setting>
                <setting id="chart_limit"
                         type="integer"
                         label="32011"
                         default="25"
                         range="5,50,1">
                    <control type="spin" />
                </setting>
            </group>
        </category>
    </section>
</settings>
