<settings version="2">
    <category label="32001">
        <setting id="market"
                 type="string"
                 label="32010"
                 default=""
                 option="input"
                 help="32012"/>
        <setting id="chart_limit"
                 type="number"
                 label="32011"
                 default="25"
                 range="5,50,1"/>
    </category>
</settings>
