<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <section id="general">
        <category id="charts" label="32001">
            <group id="1">
                <setting id="market" type="string" label="30672" help="30674">
                    <level>0</level>
                    <default/>
                	<constraints>
                        <allowempty>true</allowempty>
                	</constraints>
                    <control type="edit" format="string">
		                <heading>30672</heading>
	                </control>
                </setting>
                <setting id="chart_limit" type="integer" label="30673" help="">
                    <level>0</level>
                    <default>25</default>
                	<constraints>
                        <allowempty>true</allowempty>
                	</constraints>
                    <control type="edit" format="integer">
		                <heading>30673</heading>
	                </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
